.bg-white {
    background-color:#FFF;
}

.bg-green {
    background-color:#00f600;
}

.color-white {
    color:#fff;
}

.color-green {
    color:#00f600;
}

@font-face {
    font-family: 'balkeno';
    src: url(/fonts/balkeno.ttf) format("truetype");
}

body {
    font-family: 'balkeno';
    background-color: #F2FFFC;
}

.navbar {
    border-bottom: 0.1em #CCC solid;
}

.container {
    width: 100%;
}

.navbar {
    position: fixed;
}

.banner-principal {
    color: #00f600;
    border-top: 0.2em #00f600 solid;
    border-bottom: 0.2em #00f600 solid;
    width: 100%;
    line-height:1.5em;
    padding: 2.5em 0;
    margin-bottom: 2em;
    font-size: 160%;
}

.content {
    padding-top: 13em;
}

.caixas-inicio {
    margin-bottom: 4em;
}
.caixa-inicio-escura{
    background-color: #00a000;
    height: 14em;
    padding: 2em;
    margin: 2em 4em;
 }

.caixa-inicio-clara{
    background-color: #00f600;
    height: 14em;
    padding: 2em;
    margin: 2em 4em;
}

.texto-caixas {
    text-align: justify;
    color: white;
    font-size: 130%;
}

footer {
    margin-top: 3em;
    padding-top: 2.5em;
    background-color: #00f600;
    height: 12em;
    width: 100%;
}

.texto-footer {
    color: white;
    font-size: 160%;
}

.titulo-footer {
    color: white;
    font-size: 260%;
}

.texto-footer a {
    color: white;
}

.imagens-principal img {
    height: 16em;
    width: 30em;
    margin: 0;
}

.text-home-left {
    width: 100%;
    padding: 0.1em 0.2em;
    border-top: 0.005em #CCC solid;
    text-align: left;
    color: #00f600;
    font-size: 7em;
}

.text-home-right {
    width: 100%;
    border-bottom: 0.005em #CCC solid;
    text-align: right;
    color: #00f600;
    font-size: 7em;
}