.bg-white {
    background-color:#FFF;
}

.bg-green {
    background-color:#00f600;
}

.color-white {
    color:#fff;
}

.color-green {
    color:#00f600;
}

@font-face {
    font-family: 'balkeno';
    src: url(/fonts/balkeno.ttf) format("truetype");
}

body {
    font-family: 'balkeno';
    background-color: #F2FFFC;
}

.navbar {
    border-bottom: 0.1em #CCC solid;
}

.container {
    width: 100%;
}

.navbar {
    position: fixed;
}

.banner-principal {
    color: #00f600;
    border-top: 0.3em #00f600 solid;
    border-bottom: 0.3em #00f600 solid;
    width: 100%;
    line-height:1.5em;
    padding: 2.5em 0;
    margin-bottom: 4em;
}

.content {
    padding-top: 13em;
}

.caixas-inicio {
    margin: 0 auto;
}

.caixa-inicio-escura{
    background-color: #196c4b;
    height: 10em;
    padding: 2em;
    margin: 2em 4em;
 }

.caixa-inicio-clara{
    background-color: #2ca02c;
    height: 10em;
    padding: 2em;
    margin: 2em 4em;
}

.texto-caixas {
    text-align: justify;
    color: white;
}